.container {
  text-align: center; 
  color: white; 
}

.main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #224881, #346f9f, #5797b9, #84bfd2, #b7e6ec);
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  list-style-type: none; 
  text-align: center;
}
